
  .submit{
    padding: 0.4em 0.8em;
    font-size: 1em;
    color: white;
    background: black;
    border-radius: 1em;
    cursor: pointer;
    margin-top: 1em;
  }
  .all{
    max-width: 26vw;
    padding-top: 4em;
    margin:auto
  }
  .h22{
    text-align: center;
      font-size: 2.3em;}