.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.mainnav ul {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.mainnav ul li {
  font-size: larger;
  font-weight: 600;
  margin: 0px 25px;
  list-style: none;
  cursor: pointer;
}

.huntingHead {
  margin: 8px 0em;
  text-align: center;
  font-size: 4em;

}

.myimg {
  border-radius: 55%;
  width: 7rem;
}

.cen {
  text-align: center;
  padding-top: 2em;
}

.pop {
  font-size: 1.7em;
  padding-top: 2rem;
}

.submit {
  padding: 0.4em 0.8em;
  font-size: 1em;
  color: white;
  background: black;
  border-radius: 1em;
  cursor: pointer;
}


@media only screen and (max-width: 900px) {

  .pop,
  .js {
    padding-left: 25px;
    padding-right: 8px;
  }

}